/*pierwszy komentarz css*/
.grid-container .row {
  width: 100%;
  margin-bottom: 10px;
  min-height: 30px;
  overflow: hidden;
  position: relative;
}

.grid-container .row.nested-row {
  padding-bottom: 5px;
}

.grid-container .row:after {
  content: "";
  clear: both;
  display: block;
}

.grid-container [class*="col-"] {
  box-sizing: border-box;
  float: left;
  width: 100%;
  min-height: 50px;
  border: 1px solid black;
}

.grid-container .col-xs-12 {
  width: 100%;
}

.grid-container .col-xs-11 {
  width: 91.66666667%;
}

.grid-container .col-xs-10 {
  width: 83.33333333%;
}

.grid-container .col-xs-9 {
  width: 75%;
}

.grid-container .col-xs-8 {
  width: 66.66666667%;
}

.grid-container .col-xs-7 {
  width: 58.33333333%;
}

.grid-container .col-xs-6 {
  width: 50%;
}

.grid-container .col-xs-5 {
  width: 41.66666667%;
}

.grid-container .col-xs-4 {
  width: 33.33333333%;
}

.grid-container .col-xs-3 {
  width: 25%;
}

.grid-container .col-xs-2 {
  width: 16.66666667%;
}

.grid-container .col-xs-1 {
  width: 8.33333333%;
}

@media only screen and (min-width: 640px) {
  .grid-container {
    /* For tablets: */
  }
  .grid-container .col-m-1 {
    width: 8.33%;
  }
  .grid-container .col-m-2 {
    width: 16.66%;
  }
  .grid-container .col-m-3 {
    width: 25%;
  }
  .grid-container .col-m-4 {
    width: 33.33%;
  }
  .grid-container .col-m-5 {
    width: 41.66%;
  }
  .grid-container .col-m-6 {
    width: 50%;
  }
  .grid-container .col-m-7 {
    width: 58.33%;
  }
  .grid-container .col-m-8 {
    width: 66.66%;
  }
  .grid-container .col-m-9 {
    width: 75%;
  }
  .grid-container .col-m-10 {
    width: 83.33%;
  }
  .grid-container .col-m-11 {
    width: 91.66%;
  }
  .grid-container .col-m-12 {
    width: 100%;
  }
}

@media screen and (orientation: landscape), screen and (min-width: 800px) {
  .grid-container .col-1 {
    width: 8.33333%;
  }
  .grid-container .col-2 {
    width: 16.66667%;
  }
  .grid-container .col-3 {
    width: 25%;
  }
  .grid-container .col-4 {
    width: 33.33333%;
  }
  .grid-container .col-5 {
    width: 41.66667%;
  }
  .grid-container .col-6 {
    width: 50%;
  }
  .grid-container .col-7 {
    width: 58.33333%;
  }
  .grid-container .col-8 {
    width: 66.66667%;
  }
  .grid-container .col-9 {
    width: 75%;
  }
  .grid-container .col-10 {
    width: 83.33333%;
  }
  .grid-container .col-11 {
    width: 91.66667%;
  }
  .grid-container .col-12 {
    width: 100%;
  }
  .grid-container .programs {
    height: 100vh;
  }
}

@media only screen and (min-width: 640px) {
  .grid-container {
    /* For tablets: */
  }
  .grid-container .menu-bar:first-child {
    flex: 1;
  }
  .grid-container .menu-bar a {
    display: flex;
  }
  .grid-container .menu-bar .menu-btn {
    display: none;
  }
  .grid-container .steps:after {
    transform: rotate(-90deg) translate(33px, 90px);
  }
}

@media screen and (orientation: landscape), screen and (min-width: 850px) {
  .grid-container .programs {
    height: 100vh;
  }
}

* {
  box-sizing: border-box;
}

body, html {
  color: #D4CBC2;
  background-color: white;
  width: 100vw;
  margin: 0px auto;
  padding: 0;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

body .whole-width, html .whole-width {
  height: 100vh;
}

.menu-bar {
  display: inline-flex;
  position: fixed;
  z-index: 99999;
  top: 0px;
  background-color: #1E2537;
  border: 1px solid black;
  height: 3em;
}

.menu-bar a {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: right;
  color: #fff;
}

.menu-bar a:visited {
  background-color: #1E2537;
  color: #fff;
}

.menu-bar a:hover {
  background-color: #343A53;
  color: #fff;
}

.menu-bar a:first-child {
  flex: 4;
  text-align: left;
}

.menu-btn {
  width: 4em;
  height: auto;
  background-color: #1E2537;
  color: #D4CBC2;
  display: flex;
  float: right;
  border: 1px solid white;
  padding-top: 1em;
}

.menu-btn:hover {
  background-color: #343A53;
  color: #D4CBC2;
}

.main-page {
  background-image: url("../images/bg_1.jpg");
  background-size: cover;
  height: 100vh;
  color: #D4CBC2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-page article {
  width: 100%;
  height: 25%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto 0;
  line-height: 1.5em;
  background-color: rgba(52, 58, 83, 0.6);
}

.about {
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  margin: 0;
}

.about .about_text {
  width: 100vw;
  height: auto;
  color: #1E2537;
  padding: 1em;
}

.about .about_text2 {
  width: 100%;
  background-color: rgba(30, 37, 55, 0.79);
  height: auto;
  padding: 1em;
}

.about .about_text2 li {
  margin-left: 0;
}

.programs {
  height: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.programs .tile {
  max-width: 100%;
  height: 16em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #1E2537;
  color: #D4CBC2;
  font-weight: bold;
  text-align: center;
}

.programs .tile p {
  width: 100%;
  height: 20%;
  margin: auto 0;
  color: #fff;
  font-size: 1.6em;
  text-shadow: 1px 1px #1E2537;
}

.programs .open {
  max-width: 100%;
  height: 16em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #343A53;
  font-weight: bold;
  text-align: center;
  color: #fff;
  display: none;
}

.programs .open p {
  opacity: 1;
  z-index: 999;
}

#tile-1 {
  background-image: url("../images/tile1.jpg");
  background-size: cover;
}

#tile-2 {
  background-image: url("../images/tile2.jpeg");
  background-size: cover;
}

#tile-3 {
  background-image: url("../images/tile3.jpg");
  background-size: cover;
}

#tile-4 {
  background-image: url("../images/tile4.jpeg");
  background-size: cover;
}

#tile-5 {
  background-image: url("../images/tile5.jpg");
  background-size: cover;
}

#tile-6 {
  background-image: url("../images/tile6.jpg");
  background-size: cover;
}

#tile-7 {
  background-image: url("../images/tile7.jpeg");
  background-size: cover;
}

#tile-8 {
  background-image: url("../images/tile8.jpg");
  background-size: cover;
}

#tile-9 {
  background-image: url("../images/tile9.jpg");
  background-size: cover;
}

.how-do-we-work {
  height: 7em;
  background-color: #1E2537;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-do-we-work .steps {
  width: 90%;
  height: 100%;
  background-color: #1E2537;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

.how-do-we-work .steps:after {
  top: 75%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(212, 203, 194, 0);
  border-top-color: #D4CBC2;
  border-width: 10px;
  margin-left: -10px;
  z-index: 100;
}

.footer-bar-mob {
  position: fixed;
  z-index: 99999;
  bottom: 0px;
  background-color: #1E2537;
  height: auto;
  width: 100%;
  align-self: center;
}

.footer-bar-mob a {
  text-decoration: none;
  text-align: right;
  color: #fff;
  display: inline-block;
  height: 100%;
  margin: 0 auto;
  padding: 0.4em;
}

.footer-bar-mob a:visited {
  background-color: #1E2537;
  color: #fff;
}

.footer-bar-mob a:hover {
  background-color: #343A53;
  color: #fff;
}

.form {
  background-color: #1E2537;
}

.form label {
  line-height: 2em;
}

.form input {
  width: 100%;
  padding: 0.5em;
  background-color: whitesmoke;
  box-shadow: 0px;
}

.form textarea {
  width: 100%;
  font-family: 'Lato', sans-serif;
}

/*# sourceMappingURL=maps/style.css.map */
