@mixin borderRadius ($border) {
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	border-color: $border;
 }


@mixin littleCircle ($size, $color) {
	border-radius: 50%; 
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%;
	width: $size;
	height: $size;
	background-color: $color;
}

@mixin button ($width, $height) {
	background-color: black;
	color: #45add8;
	width: $width;
	height: $height;
}