@mixin borderRadius ($border) {
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	border-color: $border;
 }


@mixin littleCircle ($size, $color) {
	border-radius: 50%; 
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%;
	width: $size;
	height: $size;
	background-color: $color;
}

@mixin button ($width, $height) {
	background-color: black;
	color: #45add8;
	width: $width;
	height: $height;
}
@mixin ahref () {
	text-decoration: none;
	text-align: right;
	color: $sec-font-color;
	&:visited {
		background-color: $main-color-blue;
		color: $sec-font-color;
	}
	&:hover {
		background-color: $sec-color-blue;
		color: $sec-font-color;
	}
}