$background-color: black;
$font-color: #D4CBC2;
$sec-font-color: #fff;
$default-font-size: 15px;
$desktop-font-size: 16px;
$main-color-blue: #1E2537;
$sec-color-blue: #343A53;
$sec-color-green: #63A45F;
$first-color-green: #ACF89B;
$first-color-grey: #D4CBC2;



