/*pierwszy komentarz css*/
@import "mixines";
@import "fonts";
@import "grid";
@import "variables";
@import "media";
@import "rwd";

* {
	box-sizing: border-box;
}

body, html {
    color: $font-color;
    background-color: white;
	width: 100vw;
    margin: 0px auto;
	padding: 0;
	font-size: $default-font-size;
	font-family: 'Lato', sans-serif;
	.whole-width {
		height: 100vh;
	}
	
}
.menu-logo {
	display:flex;
	justify-content: flex-start;
	align-self: center;
	color:white;
	background-color: $main-color-blue;
}
header {
	position: fixed;
	top: 0px;
	z-index:9999;
	width: 100%;
	height: 50px;
}

.hamburger-menu {
	display: flex;
	color:white;
	background-color: $main-color-blue;
	justify-content: flex-end;
	.menu-btn {
		background: url("../images/icon-hamburger-light.svg");
  		background-size: 35px 36px;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		color: $font-color;
		width: 13%;
		clear: both;
	}
}

.menu-bar {
	display: none;
	position: relative;
	background-color: $main-color-blue;
	height: 100%;
	a {
		//display: block;
		flex: 1;
		align-self: center;
  		@include ahref;
		text-align: center;
		padding: 0.4em;
	}
	p {
		//display: block;
		flex: 1;
		align-self: center;
  		@include ahref;
		text-align: center;
		padding: 0.4em;
		margin: 0;
	}
}
.menu-for-desktop {
	display: inline-flex;
	a {
		display: flex;
	}
}
.menu-for-mobile {
	display: inline-block;
	a {
		display: block
	}
}

.main-page {
	background-image: url("../images/bg_1.jpg");
	background-size: cover;
	height: 100vh;
	color: $font-color;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	article {
		width: 100%;
		height: 25%;
		font-size: 1.5em;
		display: flex;
		align-items: center;
  		justify-content: center;
		text-align: center;
		margin: auto 0;
		line-height: 1.5em;
		background-color: rgba($sec-color-blue, 0.6);
	}
}	
.about {
	height: auto;
	margin-top: 50px;
	background-color:white;
	display: flex;
	flex-direction: column;
	font-size: 1.1em;
	.about_text {
		width: 100%;
		height: auto;
		color: $main-color-blue;
		padding: 1em;
	}
	.about_text2 {
		width: 100%;
		background-color: rgba($main-color-blue, 0.79);
		height: auto;
		padding: 1em;
		li {
			margin-left: 0;
		}
	}
}
	.programs {
		height: auto;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-content: center;
		&:first-child {
			margin-top: 50px;
		}
		.tile {
			max-width: 100%;
			height: auto;
			min-height: 16em;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			background-color: $main-color-blue;
			color: $font-color;
			font-weight: bold;
			text-align: center;
			p {
				width: 100%;
				height: 20%;
				margin: auto 0;
				color: $sec-font-color;
				font-size: 1.6em;
				text-shadow: 1px 1px $main-color-blue;
			}
		}
		.open-prog {
			max-width: 100%;
			height: 16em;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			background-color: $sec-color-blue;
			font-weight: bold;
			text-align: center;
			color: $sec-font-color;
			display: none;		
			p {
				opacity: 1;
				z-index: 999;
			}
		}
	}

#tile-1 {
	background-image: url("../images/tile1.jpg");
	background-size: cover;
}
#tile-2 {
	background-image: url("../images/tile2.jpeg");
	background-size: cover;
}
#tile-3 {
	background-image: url("../images/tile3.jpg");
	background-size: cover;
}
#tile-4 {
	background-image: url("../images/tile4.jpeg");
	background-size: cover;
}
#tile-5 {
	background-image: url("../images/tile5.jpg");
	background-size: cover;
}
#tile-6 {
	background-image: url("../images/tile6.jpg");
	background-size: cover;
}
#tile-7 {
	background-image: url("../images/tile7.jpeg");
	background-size: cover;
}
#tile-8 {
	background-image: url("../images/tile8.jpg");
	background-size: cover;
}
#tile-9 {
	background-image: url("../images/tile9.jpg");
	background-size: cover;
}
#wrap-how-do-we-work-id {
	height: 100vh;
	background-color: $main-color-blue;
}
.how-do-we-work {
	
	background-color: $main-color-blue;
	display: flex;
	align-items: center;
  	justify-content: center;
	&:first-child {
		margin-top: 50px;
	}
	&:last-child {
		margin-bottom: 50px;
	}
		.steps {
		width: 90%;
		min-height: 7em;
		background-color: $main-color-blue;
		position: relative;
		display: flex;
		align-items: center;
  		justify-content: center;
		font-size: 1.3em;
		&:after {
			top: 75%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba($first-color-grey, 0);
			border-top-color: $first-color-grey;
			border-width: 10px;
			margin-left: -10px;
			z-index: 100;
		}
	}
}

.form {
	background-color: $main-color-blue;
	height: 100vh;
	margin-top: 50px;
	label {
		line-height: 2em;
	}
	input {
		width: 100%;
		padding: 0.5em;
		background-color: whitesmoke;
		box-shadow: 0px;
		border: 0;
	}
	textarea {
		width: 100%;
		font-family: 'Lato', sans-serif;
	}
}

.contact {
	height: 100vh;
	background-color: $main-color-blue;
	margin: 0 auto;
	display: flex;
	
	.adress {
		width: 15%;
		height: 20%;
		display: flex;
		align-self: center;
  		justify-content: center;
		vertical-align: middle;
		flex: 1;
		p {
			text-align: center;
		}
	}
}

.logging {
	height: 6em;
	padding: 1em;
	background-color: $main-color-blue;
	position: fixed;
	z-index: 100;
	bottom: 50px;
	right: 0px;
	display: none;
}
//#wrap-log:target .logging {
//	display: inline-block;
//}
.footer-bar-mob {
	position: fixed;
	z-index: 99999;
	bottom: 0px;
	background-color: $main-color-blue;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
  	justify-content: center;
	a{
		@include ahref;
		display: inline-block;
		height: 100%;
		margin: 0 auto;
		padding: 0.4em;
	}
	p {
		@include ahref;
		display: inline-block;
		height: 100%;
		margin: 0 auto;
		padding: 0.4em;
	}
}
