/*pierwszy komentarz css*/
@import "mixines";
@import "fonts";
@import "grid";
@import "variables";
@import "media";
@import "rwd";

* {
	box-sizing: border-box;
}

body, html {
    color: $font-color;
    background-color: white;
	width: 100vw;
    margin: 0px auto;
	padding: 0;
	//overflow-y: hidden;
	//overflow-x: visible;
	font-size: $default-font-size;
	font-family: 'Lato', sans-serif;
	.whole-width {
		height: 100vh;
	}
}

.menu-bar {
	display:inline-flex;
	position: fixed;
	z-index: 99999;
	top: 0px;
	background-color: $main-color-blue;
	border: 1px solid black;
	height: 3em;
	a {
		flex: 1;
		display: none;
		align-items: center;
  		justify-content: center;
		@include ahref;
		&:first-child {
			flex: 4;
			text-align: left;
			}
		
	}
}

.menu-btn {
	width: 4em;
	height: auto;
	background-color: $main-color-blue;
	color: $font-color;
	display: flex;
	float: right;
	border: 1px solid white;
	padding-top: 1em;
	&:hover {
		background-color: $sec-color-blue;
		color: $font-color;
	}	
}
.main-page {
	background-image: url("../images/bg_1.jpg");
	background-size: cover;
	height: 100vh;
	color: $font-color;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	article {
		width: 100%;
		height: 25%;
		font-size: 1.5em;
		display: flex;
		align-items: center;
  		justify-content: center;
		text-align: center;
		margin: auto 0;
		line-height: 1.5em;
		background-color: rgba($sec-color-blue, 0.6);
	}
}	
.about {
	height: auto;
	background-color:white;
	display: flex;
	flex-direction: column;
	font-size: 1.1em;
	margin: 0;
	.about_text {
		width: 100vw;
		height: auto;
		color: $main-color-blue;
		padding: 1em;
	}
	.about_text2 {
		width: 100%;
		background-color: rgba($main-color-blue, 0.79);
		height: auto;
		padding: 1em;
		li {
			margin-left: 0;
		}
	}
}
	.programs {
		height: auto;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-content: center;
		.tile {
			max-width: 100%;
			height: 16em;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			background-color: $main-color-blue;
			color: $font-color;
			font-weight: bold;
			text-align: center;
			p {
				width: 100%;
				height: 20%;
				margin: auto 0;
				color: $sec-font-color;
				font-size: 1.6em;
				text-shadow: 1px 1px $main-color-blue;
			}
		}
		.open {
			max-width: 100%;
			height: 16em;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			background-color: $sec-color-blue;
			font-weight: bold;
			text-align: center;
			color: $sec-font-color;
			display: none;		
			p {
				opacity: 1;
				z-index: 999;
			}
		}
	}

#tile-1 {
	background-image: url("../images/tile1.jpg");
	background-size: cover;
}
#tile-2 {
	background-image: url("../images/tile2.jpeg");
	background-size: cover;
}
#tile-3 {
	background-image: url("../images/tile3.jpg");
	background-size: cover;
}
#tile-4 {
	background-image: url("../images/tile4.jpeg");
	background-size: cover;
}
#tile-5 {
	background-image: url("../images/tile5.jpg");
	background-size: cover;
}
#tile-6 {
	background-image: url("../images/tile6.jpg");
	background-size: cover;
}
#tile-7 {
	background-image: url("../images/tile7.jpeg");
	background-size: cover;
}
#tile-8 {
	background-image: url("../images/tile8.jpg");
	background-size: cover;
}
#tile-9 {
	background-image: url("../images/tile9.jpg");
	background-size: cover;
}

.how-do-we-work {
	height: 7em;
	background-color: $main-color-blue;
	display: flex;
	align-items: center;
  	justify-content: center;
		.steps {
		width: 90%;
		height:100%;
		background-color: $main-color-blue;
		position: relative;
		display: flex;
		align-items: center;
  		justify-content: center;
		font-size: 1.3em;
		&:after {
				top: 75%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba($first-color-grey, 0);
				border-top-color: $first-color-grey;
				border-width: 10px;
				margin-left: -10px;
			z-index: 100;
			}
	}
}

.footer-bar-mob {
	position: fixed;
	z-index: 99999;
	bottom: 0px;
	background-color: $main-color-blue;
	height: auto;
	width: 100%;
	align-self: center;
	a{
		@include ahref;
		display: inline-block;
		height: 100%;
		margin: 0 auto;
		padding: 0.4em;
	}
}
.form {
	background-color: $main-color-blue;
	label {
		line-height: 2em;
	}
	input {
		width: 100%;
		padding: 0.5em;
		background-color: whitesmoke;
		box-shadow: 0px;
	}
	textarea {
		width: 100%;
		font-family: 'Lato', sans-serif;
	}
}



